:root {
    --cor-primaria: #5F8484;       
    --cor-primaria-hover: #A3C9C9; 
    --cor-fundo-decorativo: #d4e5db; 
    --cor-texto: #333333;
    --cor-texto-suave: #666666;
    --cor-borda: #e0e0e0;
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    height: 100vh; 
    width: 100%;
    display: flex; 
    overflow: hidden; 
}

.banner-side {
    flex: 1; 
    background-color: var(--cor-fundo-decorativo);
    background-image: var(--cor-primaria-hover);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    padding: 40px;
    text-align: center;
}

.form-side {
    flex: 1; 
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.login-container {
    width: 100%;
    max-width: 380px; 
}

.form-header {
    text-align: center;
    margin-bottom: 40px;
}

.logo-img {
    height: 500px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-header h2 {
    color: var(--cor-primaria);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.form-header p {
    color: var(--cor-texto-suave);
    font-size: 0.95rem;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    color: var(--cor-texto);
    font-weight: 600;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 14px 16px; 
    border: 1px solid var(--cor-borda);
    border-radius: 8px; 
    font-size: 1rem;
    background-color: #fafafa;
    transition: all 0.3s ease;
}

.input-group input:focus {
    outline: none;
    background-color: var(--branco);
    border-color: var(--cor-primaria);
    box-shadow: 0 0 0 4px rgba(95, 132, 132, 0.15); 
}


.forgot-pass {
    text-align: right;
    margin-bottom: 25px;
}

.forgot-pass a {
    color: var(--cor-primaria);
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}


.btn-entrar {
    width: 100%;
    padding: 14px;
    background-color: var(--cor-primaria);
    color: var(--branco);
    border: none;
    border-radius: 50px; 
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.btn-entrar:hover {
    background-color: var(--cor-primaria-hover);
}

.btn-entrar:active {
    transform: scale(0.98);
}

.register-link {
    margin-top: 30px;
    text-align: center;
    font-size: 0.9rem;
    color: var(--cor-texto-suave);
}

.register-link a {
    color: var(--cor-primaria);
    font-weight: 700;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}