body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

p {
    color: #555;
    font-size: 15px;
}

label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-size: 14px;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 15px;
}

.btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #5F8484;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #5F8484;
}

.toast-notificacao {
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #333; 
    color: white; 
    padding: 12px 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    opacity: 0; 
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    z-index: 9999; 
    pointer-events: none; 
}

.toast-notificacao.ativo {
    opacity: 1; 
    transform: translateX(-50%) translateY(-5px); 
}