:root {
    --cor-fundo: #f9f9f9;
    --cor-container: #ffffff;
    --cor-texto-principal: #333333;
    --cor-texto-secundario: #666666;
    --cor-borda: #eeeeee;
    
    --cor-destaque-clara: #A3C9C9;
    --cor-destaque-escura: #5F8484;
    --cor-header: #d4e5db ;
}


*{
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    line-height: 1.6;
    width: 100%;
}


.container {
    max-width: 1000px; 
    margin: 0px; 
    padding: 0 20px;
}


header {
    width: 1550px;
    background-color: var(--cor-header);
    padding: 5px ;
    border-bottom: 2px solid var(--cor-borda);
}


header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.header-left {
    display:flex;
    align-items: center; 
    gap: 1100px; 
}

.logo {
    height: 80px;
    width: auto;
    flex-shrink: 0;
}

header nav {
    display: flex;
    gap: 15px; 
}

header nav a {
    text-decoration: none;
    background-color: var(--cor-destaque-escura); 
    font-weight: 600;
    font-size: 0.95rem;
    padding: 8px 15px;
    border-radius: 30px; 
    transition: all 0.2s ease-in-out;
    letter-spacing: 0.5px;
    color: var(--cor-container);
}

header nav a:hover {
background-color: var(--cor-destaque-clara);
}

main .container {
    padding: 30px;
    margin: 30px auto;
    background-color: var(--cor-container);
    border: 1px solid var(--cor-borda);
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}

main section {
    padding: 20px 0;
    margin-top: 10px;
}

main section + section {
    border-top: 1px dashed var(--cor-borda); 
    padding-top: 25px;
}


h1 {
    color: var(--cor-destaque-escura); 
    font-size: 2.2em;
    border-bottom: 3px solid var(--cor-destaque-clara);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

h2, h3, h4 {
    color: var(--cor-destaque-escura);
    margin-top: 15px;
    margin-bottom: 10px;
}

h3 {
    color: var(--cor-destaque-escura); 
}

p {
    color: var(--cor-texto-secundario);
    margin-bottom: 15px;
    text-align: justify;
}

ul {
    padding-left: 25px;
}

ul li {
    color: var(--cor-texto-secundario);
    margin-bottom: 10px;
    line-height: 1.4;
}


section h3 + ul li {
    list-style: none; 
    margin-left: -25px; 
    padding-left: 10px;
    border-left: 3px solid var(--cor-destaque-clara); 
}

section h3 + ul li strong {
    color: var(--cor-destaque-escura);
}

/* Java script */

/* HEADER FIXO */
header.fixo {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(255,255,255,0.9);
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: 0.3s ease;
    z-index: 1000;
}

/* EFEITO FADE IN */
section, h1, h2, h3, h4, p, li {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.7s ease;
}

.mostrar {
    opacity: 1;
    transform: translateY(0);
}



